# Imports

In [1]:
!python --version

Python 3.8.3

Python version have to be >=3.8 then only the snscrape dev version can be used

In [2]:
from IPython.display import clear_output
!pip3 install git+https://github.com/JustAnotherArchivist/snscrape.git
clear_output()

In [3]:
from dataextract import *

# Test

Lets test it with the function and lets extract some tweets of elon musk from the date: 2020-08-03
###### Before thats lets disscuss some important points:
- The first two parameters of the function dataextract are; the word/sentence/hashtag for which you wants to extract tweets, and the tweet extraction starting date.
- "number" is a parameter of the function dataextract,which has a default value 1000,means it will extract only 1000 tweets from a day
- "day" is another parameter of the function dataextract,which has a default value 1,means it will extract only one day  tweets, for example if you keep "day = 2",it will extract tweets for two days starting from 2020-08-03

In [4]:
#example 1
df = dataextract('elon musk','2020-08-03')

max rows will be: 1000
--------------------------------------------------
done!!!, elon musk .csv has been created
--------------------------------------------------

In [5]:
df.head()

                                  corpus        date      time
0                              nice work  2020-08-03  23:26:00
1  It s on at least 3 streams on yet and  2020-08-03  23:26:01
2                                lt eyes  2020-08-03  23:26:06
3          Good luck we are all watching  2020-08-03  23:26:07
4                         Smooth hopping  2020-08-03  23:26:07

In [6]:
#example 2
df = dataextract('#tuesday','2020-08-03',number = 3000,day = 2)

max rows will be: 3000
--------------------------------------------------
done!!!, #tuesday .csv has been created
--------------------------------------------------

In [7]:
df.head()

                                              corpus        date      time
0  nddc James Ibori amp Emmanuel Uduaghan LINKED ...  2020-08-04  06:30:53
1  Reposted from heidi kat Building a tower tuesd...  2020-08-04  06:31:29
2  TuesdayTreat a bit of joy on a Tuesday set me ...  2020-08-04  06:31:41
3  People that not say Hi is definitely the best ...  2020-08-04  06:32:22
4  Good morning tuesday fans What s the plan for ...  2020-08-04  06:32:39